.startbutton
{
    -fx-font-weight: bold;
    -fx-background-color: #915b4a;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: black;
}

.startbutton:hover
{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: #915b4a;
    -fx-border-color:#915b4a;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.startbutton:pressed
{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: #915b4a;
    -fx-border-color:#915b4a;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-rotate: 10;

}
